@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

@theme {
  --font-sans: var(--font-inter);
  --font-yaro: var(--font-yaro);

  --color-accent: #0c4b41;
  --color-primary: #bdda83;
  --color-light-green: #f0f5e8;
  --color-green: #4cd964;
  --color-off-white: #f9f4e8;
  --color-dark-blue: #092540;
}

@layer components {
  .btn-primary {
    @apply font-sans font-semibold px-8 py-3 rounded-full transition-colors duration-200 cursor-pointer;
    background-color: var(--color-primary);
    color: var(--color-accent);
  }

  .btn-primary:hover {
    background-color: #bace66;
  }

  .btn-accent {
    @apply font-sans font-semibold px-8 py-3 rounded-full transition-colors duration-200 cursor-pointer;
    background-color: var(--color-accent);
    color: var(--color-primary);
  }

  .btn-accent:hover {
    background-color: #093832;
  }
}
